<html>
  <body>
    <form action="/result" method="GET">
      <input style="min-width: 500px" type="text" name="text" placeholder="Type your hex " />
      <button style="border-radius: 8px; background-color: #008cba">RUN !!!</button>
    </form>
  </body>
</html>
